<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="com.tweeddale.contenttweeter" />

    <bean id="randomWordsImageTweeter" class="com.tweeddale.contenttweeter.ContentTweeter">
        <property name="contentFetcher">
            <bean class = "com.tweeddale.contenttweeter.contentfetchers.RandomWordsImageFetcher" id="randomWordsImageFetcher">
                <!--<property name="useWordOfTheDay" value="true"/>-->
            </bean>
        </property>
    </bean>

    <!-- For times when you just need to invoke a method on a specific object -->
    <bean id="tweetJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="randomWordsImageTweeter" />
        <property name="targetMethod" value="tweet" />
    </bean>

    <!-- Run the job every minute -->
    <bean id="simpleTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="tweetJobDetail" />
        <property name="startDelay" value="0" />
        <property name="repeatInterval" value="3600000" />
    </bean>

    <!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="tweetJobDetail" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="simpleTrigger" />
            </list>
        </property>
    </bean>

</beans>